<div class="publications">
  {% bibliography --group_by none --query @*[selected=true]* %}
  <strong style="font-size: 16px;">ASIACRYPT 2023</strong><br>
  <strong style="font-size: 16px;">ICML 2022</strong><br>
  <strong style="font-size: 16px;">EUROCRYPT 2022</strong><br>
  <strong style="font-size: 16px;">TDSC</strong><br>
</div>
